<div class="hero-unit">
	<h2> <%= @title %> </h2>
	<p> <strong> Login: </strong> <%= @ssh_session_login %>  </p>
	<p> <strong> Password: </strong> <%= @ssh_session_passwd %> </p>
	<p> <strong> Current remote host Ip adress: </strong> <%= @ssh_session_remote_host_ip %> </p>
</div>

<div class="hero-unit">
	<h2> Manage SSH configuration: </h2>
	<p> Use this form to update your SSH connection preferences </p>
	<form action="/server/ssh" method="post" accept-charset="utf-8">
		<input type="text" name="loginssh" placeholder="Login">
		<input type="text" name="passwdssh" placeholder="Password">
		<input type="text" name="remotehostip" placeholder="Remote host IP adress">
		<input type="submit" value="Update">
	</form>
	
</div>

<div class="hero-unit">
	<h2> Execute SSH command on remote host: </h2>
	<p> Use this form to remotely execute any SSH command on the remote host you are currently configured to connect to.The output will be visible below the form after any command ran. </p>
	<form action="/server/ssh/cmd" method="post" accept-charset="utf-8">
		<textarea class="input-xlarge" id="cmdssh" name="cmdssh" placeholder="Type your ssh command here" rows="10"></textarea>
		<input type="submit" value="Execute commmand">
	</form>
	
	<!-- ssh cmd output below -->
	<p> <%= @ssh_cmd_output %> </p>
	
</div>

<div class="hero-unit">
	
	<ul id="tab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Command ran</a></li>
            <li><a href="#profile" data-toggle="tab">output</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">@fat</a></li>
                <li><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
              </ul>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="profile">
              <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </div>
            <div class="tab-pane fade" id="dropdown1">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
              <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
            </div>
          </div>
	
</div>
